 
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* vh stands for viewport height */
  }
  .heading{
    width: 100%
  }
  .text{
    text-align: center;
  }

  form {
    width: 50%;
    
  }